.heading {
    background-color:lightgrey;
    font-size: 40;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
body {
    background-color: ghostwhite;
}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .zoom:hover {
    transform: scale(1.5);}